/*
*  MiniFrame css karkasas Lic GNU
*  Author Name Darius Jakaitis, author web site 
*/
@import url('../fonts/gilda-display.css'); /*https://fonts.googleapis.com/css?family=Gilda+Display*/
@import url('../fonts/comfortaa.css'); /*https://fonts.googleapis.com/css?family=Comfortaa*/

:root {
	--navbar-text-color:  #7E7E7E;
	--nav-link-txt-color: #393D47;
	--nav-menu-txt-color: #5A5A5A;
	--navbar-bg-color-logo: #999999;
	--navbar-text-color-focus: white;
	--navbar-text-color-focus-hover: #5F5F5F;
	--navbar-bg-contrast: hsl(0, 0%, 25%);
	--width-container-fix: 1220px;
  	--width-section-header: 100%;
	--width-section-section: 100%;
	--width-section-footer: 100%;
    --url-txt-shadow: 2px 2px #ff0000;
	--url-txt-overline:  overline;
	--url-txt-line-through: line-through;
	--url-txt-underline: underline;
	--url-txt-underline-overline: underline overline;
	--cols-text-align-style: justify;
	--txt-cols-width: 50%;	
	--nav-item-a-link-color: #B6B6B6;
	--nav-item-hover-link-color: #CECF75;
	--text-UPERCASE: uppercase;
}
/*teksto šrifto klasės pradžia */
h1.font-verdana,h2.font-verdana,h3.font-verdana,h4.font-verdana,h5.font-verdana,p.font-verdana,a.font-verdana{ font-family: Verdana, sans-serif !important;}
h1.font-gill-sans,h2.font-gill-sans,h3.font-gill-sans,h4 .font-gill-sans,h5.font-gill-sans,p.font-gill-sans,a.font-gill-sans{font-family: "Gill Sans", sans-serif !important;}
h1.font-geneva,h2.font-geneva,h3.font-geneva,h4.font-geneva,h5.font-geneva,p.font-geneva,a.font-geneva{font-family: Geneva !important;}
h1.font-segoe-ui,h2.font-segoe-ui,h3.font-segoe-ui,h4.font-segoe-ui,h5.font-segoe-ui,p.font-segoe-ui,a.font-segoe-ui{font-family: "Segoe UI" !important;}
h1.font-optima,h2.font-optima,h3.font-optima,h4.font-optima,h5.font-optima,p.font-optima,a.font-optima{font-family: Optima !important;}
h1.font-gothic,h2.font-gothic,h3.font-gothic,h4.font-gothic,h5.font-gothic, p.font-gothic,a.font-gothic{font-family: "Century Gothic", CenturyGothic !important;}
h1.font-papyrus,h2.font-papyrus,h3.font-papyrus,h4.font-papyrus,h5.font-papyrus,p.font-papyrus,a.font-papyrus{font-family: Papyrus, fantasy !important;}
/*teksto šrifto klasės pabaiga*/
2div {
	border: 0.0001rem dashed #888; /* < -- Pakeiskite 2div į div kad pasinaikintų punktyrinės
	                                        linijos aplink jūsų konteinerius*/
	/*margin: -0.0099999rem; */
	/*naudojamas pagal poreikį 
	šiek tiek turi įtakos kai aktyvuojamas border nustatymas
	*/
}
.border-1 { border: 0.02rem solid #393D47; padding: -0.02rem; margin: -0.02rem;}
html, body {
    font-family:  Volkhov, serif;
	padding: 0;
	margin: 0;
}
body { 
	width: auto; 
	height: 100vh;
	line-height: 1.6;
}
/*Kursorius*/
.col-resize {cursor: col-resize;}
.move {cursor: move;}
.pointer {cursor: pointer;}
.ns-resize {cursor: ns-resize;}
.not-allowed {cursor: not-allowed;}
.row-resize {cursor: row-resize;}
.se-resize {cursor: se-resize;}
.sw-resize {cursor: sw-resize;}
.w-resize {cursor: w-resize;}
.row-resize {cursor: row-resize;}
.zoom-in {cursor: zoom-in;}
.zoom-out {cursor: zoom-out;}
/*Pabaiga Kursorius*/

/*Tekstas į stulelių dalis */
.txt-cols-2 {
  columns: 100px 2;
  column-width: var(--txt-cols-width);
  text-align: var(--cols-text-align-style);
  /*-moz-text-align-last: var(--cols-text-align-style); /* For Firefox prior 58.0 */
  /*text-align-last: var(--cols-text-align-style);*/
  text-indent: 2em;
}


.txt-cols-3 {
  columns: 50px 3;
  column-width: var(--txt-cols-width);
  text-align: var(--cols-text-align-style);
  /*-moz-text-align-last: var(--cols-text-align-style); */ /* For Firefox prior 58.0 */
 /* text-align-last: var(--cols-text-align-style);*/
 text-indent: 2em;
}

.txt-cols-4 {
  columns: 50px 4;
  column-width: var(--txt-cols-width);
  text-align: var(--cols-text-align-style);
  /*-moz-text-align-last: var(--cols-text-align-style);*/ /* For Firefox prior 58.0 */
  /*text-align-last: var(--cols-text-align-style);*/
  text-indent: 2em;
}



/*Teksto stulpelių pabaiga*/
/*Antraštės*/
h1.title {
	font-family: Comfortaa, cursive;
	font-weight: 100;
	letter-spacing: 0.1rem;
    word-spacing: -0.2rem;
	line-height:100%;
}

h2.title {
	font-family: Comfortaa, cursive;
	font-weight: 100;
	letter-spacing: 0.1rem;
    word-spacing: -0.2rem;
	line-height:100%;
}

h3.title {
	font-family: Comfortaa, cursive;
	font-weight: 100;
	letter-spacing: 0.1rem;
    word-spacing: -0.2rem;
	line-height:100%;
}

/* Karkaso šablonai */

.wrapper {
  display: flex;
}

header {
	width: var(--width-section-header);
	
}
section {
	width: var(--width-section-section);
	
}
footer {
	width: var(--width-section-footer);
	
}
header, section, footer {
	width: var(--width-section);
	
}
.footer {
	min-height:68px;
	border-top: 1px inset #EAF506;
	filter: drop-shadow(5px 3px 6px #F9FFBA);
}
.container {
  max-width: var(--width-container-fix);
  padding: -1px;
  margin-right: auto;
  margin-left: auto;
}

.container-full {
  max-width: 100%;
  padding: -1px;
  margin-right: auto;
  margin-left: auto;
}
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, 
.col-md-9, .col-md-10, .col-md-11, .col-md-12{
	padding:4px;
}
.row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;

}
.row {
  display: flex;
  flex-wrap: wrap;

}
.col {
  flex: 1 0 0%;
}

.sidebar {
  width: 6.5rem;
  min-height: 100vh;
}
.flex-column {
  flex-direction: column !important;
}

.line-flex{ 
  display: flex !important;

}

.center { 
  justify-content: center;
  align-items: center;
  text-align: center;
}
.align-r {
  margin: auto 0px auto auto;

}
/*Paveikslėlių stilius */

 img.img-75{ /* Paveikslėlio dydis 75px */
  border: 0.3rem solid #49F5F2;
  border-radius: 3px;
  padding: 3px;
  width: 75px;
  min-height: 75px;
}

 img.img-75:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

 img.img-150{ /* Paveikslėlio dydis 150px */
  border: 0.3rem solid #49F5F2;
  border-radius: 3px;
  padding: 3px;
  width: 150px;
  min-height: 150px;
}

 img.img-150:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

 img.img-300{ /* Paveikslėlio dydis 300px */
  border: 0.3rem solid #49F5F2;
  border-radius: 3px;
  padding: 3px;
  width: 300px;
  min-height: 300px;
}

 img.img-300:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

/*Paveikslėlio stiliaus pabaiga*/

*, *::before, *::after {
  box-sizing: border-box;
}

.acc {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='50' height='50' viewBox='0 0 50 50' xml:space='preserve'%3E%3Cpath d='M40 35.6V37c0 1.65-1.35 3-3 3H13c-1.65 0-3-1.35-3-3v-1.4c0-3.65 4.25-5.85 8.25-7.6.15-.05.25-.1.4-.2.3-.15.65-.15.95.05 1.6 1.05 3.45 1.65 5.4 1.65 1.95 0 3.8-.6 5.4-1.6.3-.2.65-.2.95-.05.15.05.25.1.4.2 4 1.7 8.25 3.9 8.25 7.55zm-7.55-17.35A7.45 8.25 0 0 1 25 26.5a7.45 8.25 0 0 1-7.45-8.25 7.45 8.25 0 0 1 14.9 0z'/%3E%3C/svg%3E");
} 

/* Šriftai, antraščių ir paragrafo dydžiai*/
h1 {font-size: 2.1rem;}
h2 {font-size: 1.8rem;}
h3 {font-size: 1.6rem;}
h4 {font-size: 1.3rem;}
h5 {font-size: 1.2rem;}
p {font-size: 1.05rem;}

/*Paragrafinio teksto stilius*/
p.txt-shadow {text-shadow: var(--url-txt-shadow)}       /*Šešėlis tekstui*/
p.txt-overl {text-decoration: var(--url-txt-overline)}           /* brūkšnys virš teksto*/
p.txt-throl {text-decoration: var(--url-txt-line-through)}       /* brūkšnys per vidurį teksto*/
p.txt-underl {text-decoration: var(--url-txt-underline)}         /* brūkšnys po tekstu*/
p.txt-overl {text-decoration: var(--url-txt-underline-overline)} /* brūkšnys virš ir po teksto*/

/*Nuorodų stilius*/
a.link-shadow {text-shadow: var(--url-txt-shadow)}       /*Šešėlis nuorodai*/
a.link-overl {text-decoration: var(--url-txt-overline)}           /* brūkšnys virš nuorodos*/
a.link-throl {text-decoration: var(--url-txt-line-through)}       /* brūkšnys per vidurį nuorodos*/
a.link-underl {text-decoration: var(--url-txt-underline)}         /* brūkšnys po nuorodos*/
a.link-overl {text-decoration: var(--url-txt-underline-overline)} /* brūkšnys virš ir po nuorodos*/


/* Spalvos numatytosios*/
/* Text colors*/
.txt-blue {color: #0D51F8;}
.txt-blue-light {color: #77CCEE ;}
.txt-blue-heavan {color: #58F7FC ;}
.txt-yellow {color: #F1E118;}
.txt-yellow-light {color: #FCF280;}
.txt-orange {color: #FC9E27;}
.txt-brown {color: #A5804F;}
.txt-red {color: #F74A2E;}
.txt-danger {color: #E82C51;}
.txt-purple {color: #C32EF7;}
.txt-purple-light {color: #FDABF4;}
.txt-silver {color: #EEEEEE;}
.txt-gold {color: #C7CA15;}
.txt-bronze {color: #DF9F02;}
.txt-black {color: #000000;}
.txt-white {color: #FFFFFF;}
.txt-dark {color: #3B3A3A;}
.txt-green {color: #64DE49;}
.txt-salad {color: #ADE56A;}
.txt-menthol {color: #95FFC9;}
.txt-dark-rubber {color: #373C49;}

/*Spalvos background-color*/
.bg-blue {background-color: #0D51F8;}
.bg-blue-light {background-color: #77CCEE ;}
.bg-blue-heavan {background-color: #58F7FC ;}
.bg-yellow {background-color: #F1E118;}
.bg-yellow-light {background-color: #FCF280;}
.bg-orange {background-color: #FC9E27;}
.bg-brown {background-color: #A5804F;}
.bg-red {background-color: #F74A2E;}
.bg-danger {background-color: #E82C51;}
.bg-purple {background-color: #C32EF7;}
.bg-purple-light {background-color: #FDABF4;}
.bg-silver {background-color: #EEEEEE;}
.bg-gold {background-color: #C7CA15;}
.bg-bronze {background-color: #DF9F02;}
.bg-black {background-color: #000000;}
.bg-white {background-color: #FFFFFF;}
.bg-dark {background-color: #3B3A3A;}
.bg-green {background-color: #64DE49;}
.bg-salad {background-color: #ADE56A;}
.bg-menthol {background-color: #95FFC9;}
.bg-dark-rubber {background-color: #373C49;}

/*Spalvų pabaiga*/

/* input text laukialio fonas ir teksto spalva*/

::placeholder {
  color: #838383;
  opacity: 1; /* Firefox reakcijai*/
}

/*Ženkleliai*/

.badge{
	display:inline-block;
	padding:.25em .4em;
	font-size:75%;
	font-weight:700;
	line-height:1;
	text-align:center;
	white-space:nowrap;
	vertical-align:baseline;
	border-radius:.25rem;
}
	
/*ženklelis apelsino spalva*/	
.badge-orange {
	color:#fff;
	background-color:#F88410;
}
span.badge-orange:focus, span.badge-orange:hover{
	color:#000;
	text-decoration:none;
	background-color:#FFA448;
}

/*  Iki mobilaus tel. naršyklių rezoliucija prisitaiko procentaliai*/
/*  Naudojamas šiai įstrižainei Mobile Devices  @media (max-width: 480px)*/
/*  Naudojamas šiai įstrižainein  Tablets, Ipads @media (min-width: 481px) and (max-width: 767px) */
/*  Naudojamas šiai įstrižainei Tablets Ipads portrait mode @media (min-width: 768px) and (max-width: 1024px)*/
/*  Naudojamas šiai įstrižainei Laptops and Desktops @media (min-width: 1025px) and (max-width: 1280px)*/
/*  Naudojamas šiai įstrižainei Large screens @media (min-width: 1281px) */
      

@media (min-width: 1025px) {
   .col-md-2 .txt-cols-3, .col-md-3 .txt-cols-3, .col-md-4 .txt-cols-3 {
     columns: 50px 3;
     column-width: var(--txt-cols-width);
   }
}
@media (min-width: 481px) and (max-width: 1024px){
	.col-md-2 .txt-cols-3, .col-md-3 .txt-cols-3, .col-md-4 .txt-cols-3  {
     columns: 50px 2;
     column-width: var(--txt-cols-width);
   }
}
@media (min-width: 281px) and (max-width: 480px){
	.col-md-2 .txt-cols-3, .col-md-3 .txt-cols-3, .col-md-4 .txt-cols-3 {
     columns: 50px 1;
     column-width: var(--txt-cols-width);
   }
}

@media (min-width:1024px) {
    .col-md-6 .txt-cols-3, .col-md-8 .txt-cols-3, .col-md-9 .txt-cols-3, .col-md-12 .txt-cols-3 {
     columns: 50px 3;
     column-width: var(--txt-cols-width);
   }
}
@media (min-width: 767px) and (max-width: 1024px){
	 .col-md-6 .txt-cols-3, .col-md-8 .txt-cols-3, .col-md-9 .txt-cols-3, .col-md-12 .txt-cols-3 {
     columns: 50px 2;
     column-width: var(--txt-cols-width);
   }
}
@media (min-width: 381px) and (max-width: 766px){
	 .col-md-6 .txt-cols-3, .col-md-8 .txt-cols-3, .col-md-9 .txt-cols-3, .col-md-12 .txt-cols-3 {
     columns: 50px 1;
     column-width: var(--txt-cols-width);
   }
}
@media (min-width: 481px) and (max-width: 766px){
	.col-sm-1 {
    flex: 0 0 auto;
    min-width: 16.66%;
    max-width: 33.33%;
  }

  .col-sm-2 {
    flex: 0 0 auto;
    min-width: 33.34%;
    max-width: 66.64%;
  }
}

@media (min-width: 381px) and (max-width: 480px){
	.col-sm-1 {
    flex: 0 0 auto;
    width: 100%;
   
  }

  .col-sm-2 {
    flex: 0 0 auto;
    width: 99.99%;

  }
      img.img-300{
		width: 95%;
		
	}
}

@media (min-width:381px) and (max-width: 767px){
	.container-full {
	  margin: -0.08rem;
  }
    /*col-md-1 iki 12 procentinis vaizdavimas*/
    img.img-300{
		width: 98%;
		
	}
	.col-sm-2 {
	  flex: 0 0 auto;
	  width: 50%;
	}
	.col-sm-3 {
	  flex: 0 0 auto;
	  width: 49.978%;
	}

  .col-sm-4 {
    flex: 0 0 auto;
    width: 99.999%;
  }

  .col-sm-6 {
    flex: 0 0 auto;
    width: 50.00%;
  }

  .col-sm-8 {
    flex: 0 0 auto;
    width: 66.5%;
  }

  .col-sm-9 {
    flex: 0 0 auto;
    width: 75%;
  }

  .col-sm-12 {
    flex: 0 0 auto;
    width: 99.99%;
  }

}
 @media (min-width:766px){
  .container {
    max-width: var(--width-container-fix);
  }
  .sidebar {
    width: 14rem !important;
  }
	.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, 
	.col-md-9, .col-md-10, .col-md-11, .col-md-12{
		padding:5px;
}
  .container-full {
	margin: -0.08rem;
  }
  
    /*col-md-1 iki 12 procentinis vaizdavimas*/
  .col-md-1 {
	  
    flex: 0 0 auto;
    width: 8.33%;
  }

  .col-md-2 {
    flex: 0 0 auto;
    width: 16.65%;
  }

  .col-md-3 {
    flex: 0 0 auto;
    width: 24.989%;
  }

  .col-md-4 {
    flex: 0 0 auto;
    width: 33.333%;
  }

  .col-md-6 {
    flex: 0 0 auto;
    width: 50.00%;
  }

  .col-md-8 {
    flex: 0 0 auto;
    width: 66.5%;
  }

  .col-md-9 {
    flex: 0 0 auto;
    width: 75%;
  }

  .col-md-12 {
    flex: 0 0 auto;
    width: 99.99%;
  }

}

/* menu navigacijos baras */

.icon-bar {
  display: block;
  width: 25px;
  height: 4px;
  margin: 2px;
  background-color: var(--navbar-text-color);
}

#navbar-toggle:is(:focus, :hover) .icon-bar {
  background-color: var(--navbar-text-color-focus-hover);
}

.brand-content{ 
   display: inline-flex;
}
.brand-logo {
  background-color: var(--navbar-bg-color-logo);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 1.2rem;
}

.navbar {
  display: flex;
  position: realitive;
  padding: 18px;
  font-family: sans-serif;
  
}
.nav-menu {
	color: var(--nav-menu-txt-color);
}
.nav-items {
  display: flex;
  text-transform: var(--text-UPERCASE);
}

.nav-item a {color: var(--nav-item-a-link-color); } /* color: #A5804F;*/
.nav-item a:hover { color: var(--nav-item-hover-link-color); }/*color: #64DE49;*/

.nav-link {
  padding-right: 8px;
  text-decoration: none;
}

.nav-link-toggle {
  display: none;
}

  ul.nav-menu-align {
	  margin: auto  0px  auto auto;
  }
  li.nav-item {
	list-style: none;
    margin-right: 1rem;
  }
/* išslenkančio menu navigacijos baro pabaiga*/

/*Meniu baro navigacijos prisitaikymo prie įstrižainės nustatymai*/
@media only screen and (max-width: 768px) {
  .nav-items,
  .navbar {
    flex-direction: column;
	margin: auto auto auto 0px !important;
	
  }
    
.nav-items {
    display:none;	
	
  }
  ul.nav-menu-align {
	  margin: auto  auto  auto  0px;
  }
.nav-items a {
    position: realitive;
	float:left;
    margin: 0 10px;
  } 
 
.navbar-toggle {
    display: flex;
	top:20px;
  }
    
.nav-link-toggle {
    align-self: flex-end;
    display: initial;
    position: absolute;
 }
   
   .nav-link:focus { 
     display: block;
     margin: -1px 9px;
     border-radius:2px;
     border: 1px solid #B67C00;
     color: #333;
}
  .nav-link {
     display: flex;
     text-decoration: none;
     padding: 7px 11px 7px 0px;
	 background-color: transparent;

  }   
  .nav-item .nav-link {
	list-style: none;
    padding-right: 3px;
  }   
  li.nav-item  {
	list-style: none;
	padding: 7px 16px 7px 0px;
	
  }   

   li.nav-item .nav-link{
    margin: -0.2rem 0rem -1rem -1rem;
	display: block;

  }
}
